<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PirateWars.Properties.Settings.PirateWarsConnectionString"
            connectionString="Data Source=FREDRIK-PC;Initial Catalog=PirateWars;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>